<h1>La Litière des chats mal élevés</h1>
<div class="home-3-pics">
  <div>
    <%= image_tag('boite_de_5kg.png', height: 200, class: 'center') %>
    <p class="center"><b class="description"><%= @box.designation %></b><br>€<%= @box.unit_price %></p>
  </div>
  <div>
    <%= image_tag('kaka_kat.png', width: 250, class: 'center') %>
  </div>
  <div>
    <%= image_tag('box_de_6_boites.png', height: 200, class: 'center') %>
    <p class="center"><b class="description"><%= @display_box.designation %></b><br>€<%= @display_box.unit_price %></p>
  </div>
</div>
<div class="order-button-div">
  <%= link_to shop_path do %>
    <button class="order-button">La Boutique</button>
  <% end %>
</div>
<h1>Le concept de KAKA</h1>
<p>KAKA est étonnant, à la fois <b>sans concession et empreint d’exigence</b>, résolument franc et sincère.</p>
<p>KAKA est une <b>litière engagée</b>, préférant une <b>éthique radicale et ultra-naturelle</b> plutôt qu’un positionnement généralisé.</p>
<p>KAKA, à l’inverse des produits traditionnels de la concurrence est tout simplement :</p>
<ul>
  <b>
    <li>Décalé</li>
    <li>Rigolo</li>
    <li>Espiègle</li>
    <li>Décomplexé</li>
    <li>Naturel</li>
  </b>
</ul>
<p><b>Parce qu'on appelle un chat, un chat !</b></p>
<h1>Qui fabrique KAKA ?</h1>
<p>Nous sommes une <b>entreprise familiale</b>.<br><b>Nous</b> extrayons, essentiellement, des minéraux <b>depuis 1927</b>.<br>Nous exerçons notre métier <b>avec passion</b>.</p>
<p>Nous privilégions ainsi les <b>solutions simples</b> et contrôlons l'intégralité de notre chaîne de valeur.</p>
<p>Au coeur de nos engagements se trouvent la mise en oeuvre de <b>process valorisant les éléments essentiels issues des minéraux</b> ainsi que la garantie d'une <b>production responsable</b> ; faible émettrice de carbone et <b>bio-compatible</b>.</p>
<h1>D'où vient KAKA ?</h1>
<p>De <b>Normandie</b> ! KAKA “La litière des chats mal élevés” est produite sur notre site à partir <b>d'argiles</b> rigoureusement sélectionnées <b>dans nos carrières</b>.</p>
<%= image_tag('france_map.png', width: 300, class: 'center') %>
<h1>Les avantages de KAKA</h1>
<p>KAKA est un produit compétitif par son prix et ses qualités spécifiques :</p>
<ul>
  <li>Agglomérante</li>
  <li>Absorbante</li>
  <li>Inodore</li>
  <li><b>100% minérale</b>, naturelle, sans additif chimique</li>
  <li><b>Douce et légère</b> grâce à une granulométrie <b>plus serrée et compacte</b></li>
  <li><b>Reste sèche en surface</b></li>
  <li>D'une <b>belle couleur beige</b></li>
  <li>Conditionnée dans des <b>boîtes</b> de 5kg avec poignée de transport.</li>
</ul>
<h1>Le conditionnement de KAKA</h1>
  <%= image_tag('box_of_176_oz.png', width: 150, class: 'center') %>
  <ul><li>Chaque boîte <b>contient 5kg</b> de litière.</li></ul>
  <%= image_tag('display-box_of_6_boxes.png', width: 150, class: 'center') %>
  <ul><li>Chaque box contient 6 boîtes de litière.</li></ul>
<div class="order-button-div">
  <%= link_to shop_path do %>
    <button class="order-button">La Boutique</button>
  <% end %>
</div>
<%= render partial: 'shared/footer' %>