<h1>Inscription</h1>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <label>Prénom</label>
      <%= f.input :first_name, autofocus: true, label: false, required: true %>
      <label>Nom</label>
      <%= f.input :last_name, label: false, required: true %>
      <label>Téléphone</label>
      <%= f.input :phone_number, label: false, required: true %>
      <%= f.input :email, required: true %>
      <label>Numéro TVA (facultatif)</label>
      <%= f.input :vat_number, label: false %>
      <label>Mot de passe</label>
      <%= f.input :password, label: false, required: true %>
      <label>Mot de passe (confirmation)</label>
      <%= f.input :password_confirmation, label: false, required: true %>

    </div>

    <div class="form-actions">
      <%= f.button :submit, "S'inscrire" %>
    </div>
  <% end %>
  <p class="center">
    <%= render "devise/shared/links" %>
  </p>
